<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Form</title>
</head>
<body>
    <div class="container">
        <div class="flex flex-wrap">
            <form id="book-form" action="post">
                <div>
                    <label for="name" id="name">Name</label>
                    <input type="text">
                </div>
                <div>
                    <label for="desc" id="desc">Description</label>
                    <input type="text">
                </div>
                <div>
                    <label for="category_id" id="categor_id">Category</label>
                    <input type="text">
                </div>
            </form>
        </div>
    </div>
    <script src="./script.js"></script>
</body>
</html>